<div class="row pt-3">
    <div class="col-6 offset-3">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title"><%= @member.name %> <%= @member.surname %></h5>
                <h6 class="card-subtitle mb-2 text-muted pt-3">Email: <%= @member.surname %></h6>
                <h6 class="card-subtitle mb-2 text-muted pt-3">Birthday: <%= @member.birthday %></h6>
                <h6 class="card-subtitle mb-2 text-muted pt-3"> Number of club games played: <%= @member.games_played %></h6>
                <h6 class="card-subtitle mb-2 text-muted pt-3">Current rank: <%= @member.rank %></h6>
            </div>
        </div>
    </div>
</div>